@font-face {
  font-family: 'GameBattle';
  src: url('../assets/fonts/GameBattlesRegular-RjXo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MostWasted';
  src: url('../assets/fonts/Mostwasted.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UrbanJungle';
  src: url('../assets/fonts/UrbanJungleDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: 'GameBattle', sans-serif;
}

