@font-face {
  font-family: 'CustomFont'; /* Use a name that you prefer */
  src: url('assets/fonts/GameBattlesRegular-RjXo.ttf') format('woff2'), /* Preferred modern format */
       url('assets/fonts/Mostwasted.ttf') format('woff'),   /* Fallback format */
       url('assets/fonts/UrbanJungleDEMO.otf') format('truetype'); /* Additional fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: helps with performance by using fallback text until the font loads */
}

{
margin: 0;
}

body {
  font-family: 'CustomFont', sans-serif;
}


